.baseBody{
    /* background-image: url('https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80'); */
    /* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
    background-image: url('/cloudvillenamecard.png');
    background-size: 800px;
    background-repeat: no-repeat;
    height: 1000px;
    font-family: 'Numans', sans-serif;
    width: 100%;
    background-color:  rgba(0,0,0,0.7) !important;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    }

.container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }